<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar offcanvas-md offcanvas-start bg-white" tabindex="-1" aria-labelledby="sidebarMenuLabel" style="z-index: 1045;">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sidebarMenuLabel">HMS Portal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'patient_dashboard' %}active{% endif %}" href="{{ url_for('patient.patient_dashboard') }}">
                    <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'patient_find_doctors' %}active{% endif %}" href="{{ url_for('patient.patient_find_doctors') }}">
                    <i class="fas fa-search"></i> Find Doctors
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'patient_appointments' %}active{% endif %}" href="{{ url_for('patient.patient_appointments') }}">
                    <i class="fas fa-calendar-check"></i> My Appointments
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'patient_medical_history' %}active{% endif %}" href="{{ url_for('patient.patient_medical_history') }}">
                    <i class="fas fa-notes-medical"></i> Medical History
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'patient_profile' %}active{% endif %}" href="{{ url_for('patient.patient_profile') }}">
                    <i class="fas fa-user"></i> My Profile
                </a>
            </li>
        </ul>
    </div>
</nav>